.content-header {
    display: flex;
    // grid-template-columns: 60% 40%;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 6px 12px;
    background: var(--green);
    color: #FFF;

    // border-radius: 0 0 24px 24px;
    .dateTime {
        font-size: 26px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            padding: 12px;
        }
    }

    .option-medicine {
        font-size: 28px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .option-menu {
            cursor: pointer;
        }
    }

}

.timeLine {
    display: grid;
    // justify-content: start;
    align-items: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    .content-body {
        // margin: 0px 12px;
        padding: 6px 12px;

        .content-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // color: #000000;
            font-size: 26px;

            .left {}

            .right {
                cursor: pointer;
                // color: #1264fc;
                i{
                    padding: 8px;
                }
            }
        }

        .content-detail {

            // background-color: #ffffff;
            // background-color: rebeccapurple;
            // height: 200px;
            .content-show {
                margin-top: 18px;
                background-color: rgb(255, 255, 255);
                border-radius: 12px;
                display: grid;
                grid-template-columns: 15% 70% 15%;
                overflow: hidden;

                .content-date {
                    background: var(--secondary);
                    font-size: 32px;
                    display: flex;
                    align-items: center;
                    color: #FFF;
                    justify-content: center;
                }

                .content-body {
                    font-size: 24px;
                    display: grid;
                    align-items: center;
                    color: #000000;

                    .columnTime {
                        // display: flex;
                        // justify-content: space-around;
                        display: grid;
                        grid-template-columns: 25% 25% 25% 25%;
                        align-content: center;

                        .bi-check-circle-fill {
                            color: #28a745;
                        }

                        .bi-x-circle-fill {
                            color: #dc3545;
                        }

                        .bi-c-circle-fill {
                            color: #fd7e14;
                        }
                    }
                }

                .content-footer {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }
            }
        }
    }
}