@font-face {
    font-family: 'db_heavent_regular';
    src: url('../../../../../assets/scss/fonts/DB_Heavent_Cond_v3.2.ttf');
    font-weight: normal;
    font-style: normal;
}

.container-xl	 {
    // padding: 0;
    background: #F0F2F5;
    height: 100%;
    // border-radius: 0px 0px 30px 30px;

    .content-header {
        // background: #007bff;
        background: #0f74b2;
        // background: #dc3545;
        // background: #0062cc;
        // background: #343a40;
        // height: 145px;
        border-radius: 0px 0px 30px 30px;
        display: grid;
        color: #FFF;

        // justify-content: center;
        // align-items: center;
        .content-bar {
            display: flex;
            justify-content: space-between;
            font-size: 18px;

            span {
                padding: 16px;
                font-size: 18px;

                .bi-calendar3 {
                    opacity: 0.8;
                }

                .bi-bell-fill {
                    padding: 10px;
                    height: 60px;
                    width: 60px;
                    border: 1px solid #FFF;
                    border-radius: 15px;
                }
            }
        }

        .content-profile {
            display: flex;
            justify-content: left;

            .image {
                font-size: 48px;
                padding: 8px;
            }

            .name {
                font-size: 32px;

                .first {
                    border-radius: 15px;
                    font-size: 18px;
                    // background: rgba(0, 123, 255, 0.5019607843);
                    padding: 4px;
                    margin: 8px;
                    font-size: 18px;
                    background: #007bff80;
                }

                .sec {
                    border-radius: 15px;
                    font-size: 18px;
                    // background: rgba(0, 123, 255, 0.5019607843);
                    padding: 4px;
                    margin: 8px;
                    background: #adb5bd;
                    font-size: 18px;
                }
            }
        }
    }

    .content-body{
        width: 100%;
        // height: 80vh;
        overflow: scroll;
    
        .tab-insights{
            margin-top: 1rem;
            // display: flex;
            // justify-content: space-between;
            font-size: 24px;
            // padding-top: 18px;
            // font-weight: 600;
            letter-spacing: 1px;
            i{
                opacity: 0.9;
            }
            .health-insights{
                display: grid;
                grid-template-columns: 50% 50%;
                .insight-show {
                    display: flex;
                    margin: 5px;
                    height: 150px;
                    background: #FFF;
                    border-radius: 14px;
                    justify-content: center;
                    align-items: flex-end;
                    .content-title {
                        text-align: center;
                        display: grid;
                        padding: 8px;
                        color: #000;
                        width: 100%;
                        .title {
                            display: flex;
                            justify-content: center;
                            font-size: 24px;
                            background: white;
                            border-radius: 8px;
                        }
            
                        i {
                            // padding: 18px;
                            font-size: 50px;
                        }
                    }
                }
            }
        }
        .tab-appointment{
            font-size: 24px;
            // padding-top: 18px;
            // font-weight: 600;
            letter-spacing: 1px;
            padding-top: 18px;
            .tables-appointment{
                // width: 100%;
                scroll-behavior: smooth;
                // box-shadow: 3px 3px 10px #c5c5c5;
                // margin: 12px;
                // border-radius: 24px;
                width: 100%;
                white-space: nowrap;
                display: inline-block;
                overflow-x: scroll;
                overflow-y: visible;
                .content-appointment{
                    margin: 5px;
                    // height: 96px;
                    height: 200px;
                    width: 125px;
                    background: #FFF;
                    // background: #F0F2F5;
                    border-radius: 6px;
                    display: inline-block;
                    white-space: normal;  
                    box-shadow: 3px 3px 10px #c5c5c5;
                }
                .title-appointment{

                }
            }
        }
        .container-schedule{
            margin-top: 1rem;
            font-size: 24px;
            letter-spacing: 1px;
            // min-height: 0;
            // margin-bottom: 10vh;
            .table-schedule{
                // height: 200px;
                width: 100%;
                overflow-y: scroll;
                overflow-x: visible;    
                display: inline-block;
                .schedule-show{
                    white-space: nowrap;
                    overflow: hidden;
                    // overflow-y: scroll;
                    // overflow-x: visible;    
                                
                    background: white;
                    margin: 6px;
                    padding: 6px;
                    border-radius: 12px;
                }
            }
        }
    }
}