<div class="container-fluid">
    <div class="content-header">
        <div class="content-bar">
            <span>
                <i class="bi bi-calendar3"></i>
                SAT, 25 JUN 2020</span>
            <span>
                <i class="bi bi-bell-fill"></i>
            </span>
        </div>
        <div class="content-profile">
            <div class="image" >
                <i class="bi bi-person-bounding-box"></i>
            </div>
            <div class="name">Hello, Pannatat! <br>
                <div>
                    <span class="first">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        87% Score
                    </span>
                    <span class="sec">
                        <i class="bi bi-star-fill"></i>
                        Silver Member
                    </span>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="tab-insights">
            <div style="display: flex;justify-content: space-between;">
                <span>health-insights</span>
                <i class="bi bi-three-dots"></i>
            </div>

            <div class="health-insights">
                <div (click)="onNext()" class="insight-show" style="background: #007bff80;">
                    <div class="content-title">
                        <div class="title">Heart Rate</div>
                        <div><i class="bi bi-graph-up"></i></div>
                    </div>
                </div>
                <div class="insight-show" style="background: #f3506c;">
                    <div class="content-title">
                        <div class="title">Heart Rate</div>
                        <div><i class="bi bi-bar-chart-line"></i></div>
                    </div>
                </div>
                <div class="insight-show" style="background: #84cc16;">
                    <div class="content-title">
                        <div class="title">Heart Rate</div>
                        <i class="bi bi-water"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>