@font-face {
    font-family: 'db_heavent_regular';
    src: url('../../../../../assets/scss/fonts/DB_Heavent_Cond_v3.2.ttf');
    font-weight: normal;
    font-style: normal;
  }
canvas{
    background-color: #fafafa;
    border-radius: 18px;
}
.container-lg {
    display: flex;
    height: 80vh;
    width: 100%;
    .butBack {
        color: #2F3C33;
        font-size: 28px;
        height: auto;
        width: 100%;
        margin: 15px;
        display: flex;
        justify-content: left;
        align-items: center;
    }
}

.spinner-grow {
    height: 15px;
    width: 15px;
    margin: 0px 8px;
}

.datetab {
    display: flex;
    justify-content: space-around;
    // height: 53px;
    border-radius: 32px;
    border: 2px solid #6c757d;
    span {
        font-size: 24px;
        color: #6c757d;
        // margin: 10px 10px;
        padding: 5px;
        width: auto;
        // border-bottom: 2px solid rgb(30, 136, 229);
    }
}

.summary {
    display: flex;
    justify-content: left;
    width: 100%;
    overflow: auto;
    white-space: nowrap;    
    .task-content {
        border: 1px solid #f2f4f6;
        width: 200px;
        height: 80px;
        border-radius: 16px;
        padding: 0px 20px;
        margin: 20px 6px;
        margin-bottom: 0;
        color: #38454c;
        background-color: #fafafa;
        display: inline-block;
        .text-title {
            font-size: 26px;
            line-height: 40px;
        }
        .text-status {
            font-size: 28px;
            line-height: 40px;
        }
    }
    .active{
        background-color: #36a2eb;
        color: #FFF;
    }
}

.summary-content{
    width: 100%;
    height: 215px;
    background: #FAFAFA;
    border-radius: 15px;
    // border: 2px solid #d3cece;
    padding: 14px;
    position: relative;
    margin-top: 12px;
    .summary-detail{
        font-size: 20px;
        color: #38454c;
    }
    .bi-clipboard-heart-fill{
        margin-left: 1rem;
        top: 13px;
        right: 145px;
        font-size: 35px;
        color: #ea4a4a;
    }
}