<div class="container-lg">
  <div class="header-title">
    <div (click)="onBack()" class="butBack bi bi-backspace" style="cursor: pointer;">
      <div style="margin-left: 18px;">ข้อมูลส่วนบุคคล</div>
    </div>
    <div class="responsive">
      <!-- <img class="imgProfile " src="" alt=""> -->
      <div class="imgProfile bi bi-person-bounding-box"></div>
    </div>
  </div>

  <div class="profile-body row">
      <div class="personal-name">
        ชื่อ-นามสกุล
        <div class="personal-show">
          {{_userProfile.name}}
        </div>
      </div>
      <div class="personal-name">
        ประเภท
        <div class="personal-show">
          {{_userProfile.type}}
        </div>
      </div>
      <div class="personal-name">
        โรคประจำตัว
        <div class="personal-show">
          {{_userProfile.disease}}
        </div>
      </div>
      <div class="personal-name">
        ญาติ
        <div class="personal-show">
          {{_userProfile.relative}}
        </div>
      </div>
      <div class="personal-name">
        เบอร์ติดต่อ
        <div class="personal-show">
          {{_userProfile.telNo}}
        </div>
      </div>
      <button class="btn btn-primary buttout" (click)="SignOut()">ออกจากระบบ</button>
  </div>





  <!-- <div class="profile-body row">
    <table class="table">
      <tbody>
        <tr>
          <td class="text-head">ชื่อ-นามสกุล</td>
          <td>:</td>
          <td>{{_userProfile.name}}</td>
        </tr>
        <tr>
          <td class="text-head">ประเภท</td>
          <td>:</td>
          <td>{{_userProfile.type}}</td>
        </tr>
        <tr>
          <td class="text-head">โรคประจำตัว</td>
          <td>:</td>
          <td>{{_userProfile.disease}}</td>
        </tr>
        <tr>
          <td class="text-head">ญาติ</td>
          <td>:</td>
          <td>{{_userProfile.relative}}</td>
        </tr>
      </tbody>
      <tr>
        <td class="text-head">เบอร์ติดต่อ</td>
        <td>:</td>
        <td>{{_userProfile.telNo}}</td>
      </tr>
    </table>
    <button class="btn btn-primary buttout" (click)="SignOut()">ออกจากระบบ</button>
  </div> -->
</div>