<div class="fillter-show">
    <div class="find">
        <input type="text" placeholder="คุณกำลังค้นหา....">
        <div class="icon-search"></div>
    </div>
    <!-- <option class="" style="margin-left: 8px;"> หมวดหมู่ :
        <select class="text-center" style="width:68px;">ทั้งหมด</select>
    </option> -->
    <div>
        หมวดหมู่
        <select style="border: none;background: none;outline: none;" #typeSelect
            (change)="selectType(typeSelect.value)">
            <option class="form-select">ทั้งหมด</option>
            <option class="form-select" *ngFor="let item of typeData" [value]="item">
                {{item}}
            </option>
        </select>
    </div>
    <!-- <div class="icon-arrow-down"></div> -->
</div>
<div class="container-fluid">
    <!-- <div *ngIf="timeout" style="display: flex;margin: auto;">
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-primary"></div>
    </div> -->
    <div *ngIf="showToTop" class="bi bi-arrow-up-circle" (click)="scrollToTop()"></div>
    <div #scrollContainer *ngIf="!timeout" style="overflow-y: scroll;height: 84vh;">
        <div *ngFor="let data of userProfies;">
            <div *ngIf="typeShow ==='ทั้งหมด' || typeShow === data.type" class="post-box">
                <div class="post-header">
                    <div style="display: flex;">
                        <div class="post-img"></div>
                        <span class="post-name">{{data?.name}}<br>
                            <span>{{data?.timestamp}} นาที่</span>
                        </span>
                    </div>
                    <div>
                        <i class="bi bi-three-dots"></i>
                    </div>
                </div>
                <div class="post-detail">
                    <div>
                        <span>
                            เรื่อง : {{data?.title}} หมวดหมู่ : {{data?.type}}
                        </span>
                    </div>
                    <br>
                    <div class="post">{{data?.detail}}</div>
                </div>
                <img src="{{data?.image}}" class="ImageWithSpinner__image"
                    style="width: 100%; max-height: 480px; object-fit: cover;">

                <div class="post-footer">
                    <i *ngIf="data.heart == 0" class="bi bi-suit-heart"></i>
                    <i *ngIf="data.heart == 1" class="bi bi-suit-heart-fill" style="color: red;"></i>
                    <i class="bi bi-share"></i>
                    <!-- <i class="fas fa-share"></i> -->
                </div>
            </div>
        </div>
        <div style="display: flex;">
            <div style="display: flex;margin: auto;height: 80px;margin-top: 12px;">
                <div class="spinner-grow text-primary"></div>
                <div class="spinner-grow text-primary"></div>
                <div class="spinner-grow text-primary"></div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="post-box">
      <div class="post-header">
        <div style="display: flex;">
          <div class="post-img"></div>
          <span class="post-name">Pannatat Saman <br>
            <span>13/04/65 16:00น</span>
          </span>
        </div>
        <div>
          <i class="fas fa-bars"></i>
        </div>
        </div>
        <img src="https://lh3.googleusercontent.com/9oi0LD4bF2jCaB0GLDoR8_0NWd6lGfoBABmqtXGjtMoe1hIDYmWF_G4JFNqQY3Y=w600" class="ImageWithSpinner__image" style="width: 100%; max-height: 480px; object-fit: cover;">
        <div class="post-detail">
        <div>
          <span>
            เรื่อง : กิจกรรมการเล่นดนตรี/ร้องคาราโอเกะ
          </span>
        </div><br>
        <div class="post">Docker ถือว่าเป็นอีกหนึ่งสกิลที่เหล่า programmers/devs ขาดไม่ได้เลยก็ว่าได้เพราะว่าองค์กรหรือบริษัทที่รับสมัครงานส่วนใหญ่แล้วล้วนใช้ Docker กัน
          ขอแนะนำคอร์สเรียน Docker  "สนใจ" รับส่วนลดเพิ่ม 300 บาท (จาก 1,500 เหลือ 1,200) ลงทะเบียนแล้วเริ่มเรียนได้ทันที</div>
      </div>
      <div class="post-footer">
          <i class="fas fa-heart"></i>
          <i class="fas fa-share"></i>
      </div>
    </div> -->