<app-loading-service *ngIf="timeOutLoading === false" (timeOutLoading)="loading($event)"></app-loading-service>
<html *ngIf="timeOutLoading === true" style="width: 100%; height: 100vh;overflow: scroll; background-color: #F0F2F5;font-family: 'db_heavent_regular';">
<Nav class="navbar">
  <div class="Brand">
    <p>Follow App</p>
  </div>
  <div class="Brand">
    <!-- <img src="assets/images/icons/icon-home.png" alt="" height="32px"> -->
  </div>
  <!-- <div class="header-title">
    <h1>{{selectMode}}</h1>
  </div> -->
  <!-- <button class="btn btn-primary" (click)="SignOut()">ออกจากระบบ</button> -->
</Nav>


<!-- <div class="fillter-show">
  <div class="find">
    <input type="text" placeholder="คุณกำลังค้นหา....">
    <div class="icon-search"></div>
  </div>
  <span class="text-nowarp" style="margin-left: 8px;"> หมวดหมู่ : <div class="text-center" style="width:68px;">ทั้งหมด
    </div>
    <div class="icon-arrow-down"></div>
  </span>
</div> -->

<div class="container-fluid">
  <app-main-page *ngIf="selectMode === 'main'"></app-main-page>
  <app-status-page *ngIf="selectMode === 'status'"></app-status-page>
  <app-history-page *ngIf="selectMode === 'history'" [_userProfile]="userProfile" [_timeout]="timeout"></app-history-page>
</div>




<Nav class="navbar-down fixed-bottom">
  <div class="content-topic">
    <div class="content">
      <div (click)="selectMode = 'main'" [ngStyle]="{'opacity': selectMode === 'main' ? '1' : '0.7' }" >
        <i class="bi bi-house-fill"></i>
      </div>
      <div (click)="selectMode = 'status'" [ngStyle]="{'opacity': selectMode === 'status' ? '1' : '0.7' }" >
        <i class="bi bi-clipboard-pulse"></i>      
      </div>
      <div (click)="selectMode = 'history'" [ngStyle]="{'opacity': selectMode === 'history' ? '1' : '0.7' }" >
        <i class="bi bi-person-circle"></i>
      </div>
    </div>
  </div>
</Nav>

</html>
