<app-loading-service *ngIf="timeOutLoading === false" (timeOutLoading)="loading($event)"></app-loading-service>
<html *ngIf="timeOutLoading === true">
<!-- <Nav class="navbar">
  <div class="Brand">
    <p>Follow App</p>
  </div>
  <div class="Brand">
  </div>
</Nav> -->


<!-- <div class="fillter-show">
  <div class="find">
    <input type="text" placeholder="คุณกำลังค้นหา....">
    <div class="icon-search"></div>
  </div>
  <span class="text-nowarp" style="margin-left: 8px;"> หมวดหมู่ : <div class="text-center" style="width:68px;">ทั้งหมด
    </div>
    <div class="icon-arrow-down"></div>
  </span>
</div> -->

<div class="container-fluid">
  <app-home-page (outPaths)="onNextPaths($event)" *ngIf="selectMode === 'home'"
    [userProfile]="userProfile"></app-home-page>
  <app-main-page *ngIf="selectMode === 'post'"></app-main-page>
  <app-history-page (onBackPath)="onNextPaths($event)" *ngIf="selectMode === 'profile'"
    [_timeout]="timeout"></app-history-page>
  <app-schedules-page (onBackPath)="onNextPaths($event)" *ngIf="selectMode === 'schedules'"></app-schedules-page>
  <app-status-page (onBackPath)="onNextPaths($event)" *ngIf="selectMode === 'heart rate'" [userProfile]="userProfile"
    [defaultDateTime]="defaultDateTime"></app-status-page>
  <app-oxygen-level-page (onBackPath)="onNextPaths($event)" *ngIf="selectMode === 'oxygen level'"
    [userProfile]="userProfile" [defaultDateTime]="defaultDateTime"></app-oxygen-level-page>
  <app-sugar-level-page (onBackPath)="onNextPaths($event)" *ngIf="selectMode === 'sugar level'"
    [userProfile]="userProfile" [defaultDateTime]="defaultDateTime"></app-sugar-level-page>
  <app-medicine-page (onBackPath)="onNextPaths($event)" *ngIf="selectMode === 'medicine'" [userProfile]="userProfile"
    [defaultDateTime]="defaultDateTime"></app-medicine-page>

  <!-- <app-history-page *ngIf="selectMode === 'profile'" [_userProfile]="userProfile" [_timeout]="timeout"></app-history-page> -->
</div>

<!-- <Nav class="navbar-down fixed-bottom container-xl">
  <div class="content-topic">
    <div class="content">
      <div (click)="selectMode = 'home'" [ngStyle]="{'opacity': selectMode === 'home' ? '1' : '0.7' }">
        <i class="bi bi-house-fill"></i>
      </div>
      <div (click)="selectMode = 'profile'" [ngStyle]="{'opacity': selectMode === 'profile' ? '1' : '0.7' }">
        <i class="bi bi-person-fill"></i>
      </div>
    </div>
  </div>
</Nav> -->




</html>