<app-loading-service *ngIf="!timeOutLoading" (timeOutLoading)="loading($event)"></app-loading-service>
<div [hidden]="!timeOutLoading" class="container-lg">

    <div style="display: block; justify-content: center;width: 100%;text-align: center;">
        <div style="background-color: #FAFAFA;">
            <div class="butBack" style="cursor: pointer;">
                <span (click)="onBack()" class="bi bi-backspace"></span>
                <span style="margin-left: 18px;">การบริหารยา </span>
                <span class="bi bi-arrow-clockwise"></span>
            </div>
            <!-- <div class="dateTime">
                <span>วันที่ {{defaultDateTime.day}}</span>
                <span>เดือน {{mouthNow}}</span>
                <span>ปี {{defaultDateTime.year+543}}</span>
            </div> -->
            <!-- <div class="dateTime" style="font-size: 18px;display: grid;">
                <h3>การบริหารยาตามหลัก 10Rs </h3>
                <h5>ในการปฏิบัติการให้ยา พยาบาลจะต้องให้ยาอย่างถูกต้องตามขั้นตอน
                    โดยยึดหลักปฏิบัติถูกต้อง</h5>
            </div> -->
        </div>
        <div class="content-toggle">
            <button class="" (click)="selectContent('now')"
                [ngClass]="{'active' : _selectContent === 'now' }">ล่าสุด</button>
            <!-- <button>|</button> -->
            <button (click)="selectContent('history')"
                [ngClass]="{'active' : _selectContent === 'history' }">ประวัติ</button>
        </div>
        <app-medicine-start [defaultDateTime]="defaultDateTime" [getCurrentDateTime]="getCurrentMonth()"  *ngIf="_selectContent === 'now'"></app-medicine-start>
        <app-medicine-history [defaultDateTime]="defaultDateTime" [getCurrentDateTime]="getCurrentMonth()" *ngIf="_selectContent === 'history'"></app-medicine-history>
    </div>