<app-loading-service *ngIf="!timeOutLoading" (timeOutLoading)="loading($event)"></app-loading-service>
<div [hidden]="!timeOutLoading" class="container-lg">

    <div style="display: block; justify-content: center;width: 100%;text-align: center;">
        <div style="background-color: #FAFAFA;">
            <div class="butBack" style="cursor: pointer;">
                <span (click)="onBack()" class="bi bi-backspace"></span>
                <span style="margin-left: 18px;">การบริหารยา </span>
                <span class="bi bi-arrow-clockwise"></span>
            </div>
            <!-- <div class="dateTime">
                <span>วันที่ {{defaultDateTime.day}}</span>
                <span>เดือน {{mouthNow}}</span>
                <span>ปี {{defaultDateTime.year+543}}</span>
            </div> -->
            <!-- <div class="dateTime" style="font-size: 18px;display: grid;">
                <h3>การบริหารยาตามหลัก 10Rs </h3>
                <h5>ในการปฏิบัติการให้ยา พยาบาลจะต้องให้ยาอย่างถูกต้องตามขั้นตอน
                    โดยยึดหลักปฏิบัติถูกต้อง</h5>
            </div> -->
        </div>
        <div class="content-header">
            <div class="dateTime">
                <!-- <span>วันที่ {{defaultDateTime.day}}</span> -->
                <span>{{mouthNow}}</span>
                <span>{{defaultDateTime.year+543}}</span>
            </div>
            <div class="option-medicine">
                <div class="option-menu bi bi-capsule"></div>
                <div class="option-menu bi bi-capsule-pill"></div>
                <div class="option-menu bi bi-prescription2"></div>
            </div>
        </div>
        <div class="timeLine">
            <div class="content-body">
                <div class="content-title">
                    <div class="left">เช้า 6:00-11:00 น.</div>
                    <div class="right bi bi-arrow-repeat"></div>
                </div>
                <div class="content-detail">
                    <div class="content-show">

                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="content-title">
                    <div class="left">กลางวัน 12.00 น.</div>
                    <div class="right bi bi-arrow-repeat"></div>
                </div>
                <div class="content-detail">
                    <div class="content-show">

                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="content-title">
                    <div class="left">เย็น  18.00 น</div>
                    <div class="right bi bi-arrow-repeat"></div>
                </div>
                <div class="content-detail">
                    <div class="content-show">

                    </div>
                    <div class="content-show">

                    </div>
                </div>
            </div>
        </div>
    </div>