<div class="content-header">
    <div class="dateTime">
        <span>| วันที่ {{defaultDateTime.day}}</span>
        <span>{{getCurrentDateTime.month}}</span>
        <!-- <span>{{mouthNow}}</span> -->
        <span>{{defaultDateTime.year+543}} |</span>
    </div>
    <!-- <div class="option-medicine">
        <div class="option-menu bi bi-capsule"></div>
        <div class="option-menu bi bi-capsule-pill"></div>
        <div class="option-menu bi bi-prescription2"></div>
    </div> -->
</div>
<div class="timeLine">
    <div class="content-body">
        <div class="content-title">
            <div class="left">เช้า 6:00-11:00 น.</div>
            <div class="right bi bi-arrow-repeat"></div>
        </div>
        <div class="content-detail">
            <div class="content-show">

            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content-title">
            <div class="left">กลางวัน 12.00 น.</div>
            <div class="right bi bi-arrow-repeat"></div>
        </div>
        <div class="content-detail">
            <div class="content-show">

            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content-title">
            <div class="left">เย็น  18.00 น</div>
            <div class="right bi bi-arrow-repeat"></div>
        </div>
        <div class="content-detail">
            <div class="content-show">

            </div>
            <div class="content-show">

            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content-title">
            <div class="left">กลางคืน 18.00 น</div>
            <div class="right bi bi-arrow-repeat"></div>
        </div>
        <div class="content-detail">
            <div class="content-show">

            </div>
            <div class="content-show">

            </div>
        </div>
    </div>
</div>
