<app-loading-service *ngIf="!timeOutLoading" (timeOutLoading)="loading($event)"></app-loading-service>
<div [hidden]="!timeOutLoading" class="container-lg">

    <div style="display: block; justify-content: center;width: 100%;text-align: center;">
        <div style="background-color: #FAFAFA;">
            <div (click)="onBack()" class="butBack bi bi-backspace" style="cursor: pointer;">
                <span style="margin-left: 18px;">ออกซิเจนในเลือด</span>
            </div>
            <div class="datetab">
                <!-- <span>1 day</span> -->
                <span>1 week</span>
                <span>1 month</span>
                <span>3 month</span>
                <!-- <span>All</span> -->
            </div>
            <div style="width: 100%;margin-bottom: 0px;font-size: 28px;height: 30px;color: #343a40;">เดือน : {{mouthNow}}</div>
        </div>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="barChartType">
        </canvas>
        <div class="summary">
            <div class="task-content active">
                <div class="text-title">ออกซิเจนในเลือด</div>
                <div class="text-status">96-100%</div>
            </div>
            <!-- <div class="task-content">
                <div class="text-title">ออกซิเจนในเลือดใจขณะ</div>
                <div class="text-status">155 rpm</div>
            </div> -->
        </div>
        <div class="tab-appointment">
            <div class="pl-3 pr-3"
                style="display: flex;justify-content: space-between;">
                <span>ประวัติ</span>
                <i class="bi bi-three-dots"></i>
            </div>
            <div class="table-appointment p-2">
                <div class="content-appointment">

                </div>
                <div class="content-appointment">

                </div>
                <div class="content-appointment">

                </div>
                <div class="content-appointment">

                </div>
                <!-- <div  class="text-center" style="color: #adb5bd;">
                    Emtry
                </div> -->
            </div>
        </div>
    </div>
</div>