<!-- <img width="100%" style="height: 59vh;" src="https://www.appsheet.com/image/getremoteimageurl?url=https%3A%2F%2Fwww.appsheet.com%3A443%2Ffsimage.png%3Fappid%3D7cd1e497-7302-4534-86b1-b6e8592e188b%26datasource%3Dgoogle%26filename%3DDocId%3D1pW8QzYN8t0lA5JC_G91RCkaKovhVZpML%26signature%3D27462c020ccfde7d0e455dd9853368d0cec60a7413cf59142b6423a743ec8841%26tableprovider%3Dgoogle%26userid%3D777845&width=1920" alt=""> -->
<div class="container-fluid">
  <div class="header"></div>

  <body class="signin">
    <h1 class="text-left">Log in</h1> 

    <!-- <form action="signin.php" method="post">
        <div class="form-group">
          <label for="username">ชื่อ-อีเมล:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">รหัส:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group" >
          <input type="submit" value="ยืนยัน" routerLink="/landing">
        </div>
      </form> -->
    <form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value)">
      <input #email type="email" name="email" placeholder="email" ngModel>
      <input #password type="password" name="password" placeholder="password" ngModel>
      <br />
      <span style="color: red;">{{alertError}}</span>
      <br />
      <input class="btn btn-outline-primary" type="submit" value="เข้าสู้ระบบ">
    </form>
  </body>


  <!-- <div class="box-effect1"></div>
    <div class="box-effect2"></div> -->
    <div class="version">Ver 1.0.1</div>
</div>