<app-loading-service *ngIf="timeOutLoading === false" (timeOutLoading)="loading($event)"></app-loading-service>
<div [hidden]="!timeOutLoading" class="containers">
    <div class="headers">
        <a class="butBack" href="/signin-page">
            <div class="bi bi-arrow-left" style="cursor: pointer;">            
                <!-- <a rel="stylesheet" href="/signin-page" ></a> -->
            </div>
        </a>
        <div>Forgot Password</div>
        <div class="title-header">Select which methods you’d like to reset.</div>
    </div>
    <div class="send-option">
        <div class="option">
            <div class="icon">
                <i class="bi bi-envelope-at-fill"></i>
            </div>
            <div class="title-option">
                <div><b>Email Address</b></div>
                <div>Send via email address securely.</div>
            </div>
        </div>
    </div>
    <div class="butReset">
        <button (click)="forget()">Reset Password<i class="bi bi-arrow-right"></i></button>
    </div>
</div>